<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalizationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientServlet</display-name>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>control.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/PatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrescriptionServlet</display-name>
    <servlet-name>PrescriptionServlet</servlet-name>
    <servlet-class>control.PrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrescriptionServlet</servlet-name>
    <url-pattern>/PrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePrescriptionServlet</display-name>
    <servlet-name>DeletePrescriptionServlet</servlet-name>
    <servlet-class>control.DeletePrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePrescriptionServlet</servlet-name>
    <url-pattern>/DeletePrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePrescriptionServlet</display-name>
    <servlet-name>UpdatePrescriptionServlet</servlet-name>
    <servlet-class>control.UpdatePrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePrescriptionServlet</servlet-name>
    <url-pattern>/UpdatePrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>control.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>